<%- include('partials/header.ejs') %>

    <body>
        <main>
            <section id="intro" class="text-center container">
                  <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                      <h1 class="fw-light">Node Js | Web Blog Project</h1>
                      <p class="lead text-body-secondary mb-4">Seja bem-vindo ao nosso espaço! Aqui, acreditamos que as ideias mais inspiradoras e os conhecimentos mais valiosos vêm da troca de experiências. Este blog é um lugar aberto para você compartilhar suas paixões, suas descobertas e suas opiniões sobre os temas que mais lhe interessam. Se você tem algo a dizer sobre tecnologia, cultura, saúde, arte ou qualquer outro assunto, este é o lugar perfeito para publicar seu artigo. Junte-se a nós e faça sua voz ser ouvida!</p>
                      <p>
                        <a href="/publicar" class="btnMain">Publicar artigo</a>
                        <a href="/artigos" class="btnMain">Visualizar postagens</a>
                          </p>
                    </div>  
                  </div>
            </section>
        </main>
    </body>
</html>
