<%- include('partials/header.ejs') %>

<section id="sobre-sec"><h1 class="sobre-title">Sobre o projeto</h1>
    <h2 class="sobre-title">Node Js | Web Blog Project</h2>
    <div class="sobre-container">
        <p><span>Sobre o Projeto</span><br><br>
             Este projeto tem como objetivo desenvolver uma aplicação de Blog utilizando Node.js, Express.js e
             EJS. A aplicação permitirá que os usuários criem, visualizem, editem e excluam postagens de blog. 
             Nesta versão, os posts não serão persistidos entre sessões, já que não será utilizado um banco de 
             dados. A experiência do usuário será uma prioridade, com um design responsivo que garante a funciona
             lidade em dispositivos desktop e móveis.
        </p>
    
        <p> <span>Requisitos Técnicos</span> 
            <ol>
                <li>Node.js & Express.js: A aplicação será construída utilizando Node.js e Express.js, com o 
                    Express.js cuidando do roteamento e das funcionalidades do middleware.</li>
                <li>EJS: O EJS será utilizado como motor de templates para gerar HTML dinâmico de acordo com 
                    o estado da aplicação.</li>
            </ol>
        </p>
    
        <p><span>Funcionalidades</span>
            <ol>
                <li>Criação de Posts: Usuários poderão criar novas postagens diretamente na plataforma.</li>
                <li>Visualização de Posts: A página inicial exibirá todos os posts criados pelo usuário.</li>
                <li>Edição/Exclusão de Posts:** Usuários poderão editar ou excluir suas postagens conforme 
                necessário.</li>
                <li>Design Atraente: O projeto terá um design bem estilizado e responsivo, garantindo uma boa 
                experiência em diferentes dispositivos.</li>
            </ol>
        </p>
    </div>
</section>

